@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Email:</strong> <a href="mailto:tcs140230@utdallas.edu">tcs140230@utdallas.edu</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/TaylorCSmith">TaylorCSmith GitHub</a>
</address>
