@model AceOfSpadesPizza.Models.Customer

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" src="~/Content\bootstrap.css" />

<h2>Welcome! Go ahead and place your order!</h2>

<button type="button" class="btn btn-primary">Test Button</button>

<div id="Image Carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block img-fluid" src="~/Images\Happy-Pizza-Steve.png" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/Images\Happy-Pizza-Steve.png" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/Images\Happy-Pizza-Steve.png" alt="Third slide">
        </div>
    </div>
</div>