@{
    ViewData["Title"] = "Project Description";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <p>
        We have a customer called “Ace Of Spades Pizza” who is expanding and needs a
        web application for customers to submit orders online. What is amazing and
        particular at the same time about this client is that they only have 1 kind
        of pizza, they call it the “The One” and it is delicious!
        The application we are building consists of 2 screens:
    </p>
</div>

<div>
    <p>
        <ol>
            <li>
                The first screen will be the page where the clients can place the order.
                This page will be an HTML form that will have fields and a submit button.
                When clicking on the save button the data inputted into the form should be
                saved in a database. The screen should contain the followings fields:
                <ul>
                    <li>The name of the person ordering</li>
                    <li>The phone nubmer</li>
                    <li>The date and time the pizza should be delivered</li>
                    <li>The number of pizzas being ordered</li>
                </ul>
            </li>
            <li>
                Second screen will be a page that displays all orders that have been
                placed. This list should be ordered with the most current order at the top.
            </li>
        </ol>
    </p>
</div>

<div> 
    <p>
        Technologies to use: <br /> 
        Basic technologies to be used are HTML, Asp.Net C# MVC or WebApi with a 
        MS-SQL database. If you want to use other complementing technologies please 
        go ahead.<br /> <br />
        Tools to download and use: <br />
        You can download Visual Studio Community edition here: <br />
        https://www.visualstudio.com/vs/community/ <br />
        SQL server express can be used and downloaded here:<br />
        https://www.microsoft.com/en-us/download/details.aspx?id=52679 <br /> <br />
    </p>
</div>

<div>
    <p>
        Extra points: <br />
        <ol>
            <li>If you have a link to see the application running (can use https://appharbor.com/ or azure)  </li>
            <li>If we can differentiate your code from the default MVC starter template (if you are using it.) </li>
            <li>If you use a css framework</li>
            <li>If you use Entity Framework</li>
            <li>If you validate the form</li>
            <li>If the site looks nice</li>
            <li>If you use an IoC framework.</li>
            <li>If you add Unit Tests</li>
            <li>If you develop this as a SPA with AngularJs and WebAPI 2.0</li>
        </ol>
    </p>
</div>

<div>
    <p>
        Delivery: <br />
        The code should be checked in to your personal github repository. I do
        expect a few commits and not jut one gigantic commit with everything in it. <br /><br />
        Timeline: <br />
        This project should not take more than 2 weeks. The faster you point me
        towards a working solution the better. <br /> <br />
        Happy coding =)
    </p>
</div>
