@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Dallas, Texas<br />
    <abbr title="Phone">P:</abbr>
    214.###.####
</address>

<address>
    <strong>Email:</strong> <a href="mailto:taylor.cody.smith@gmail.com">My Gmail</a>
</address>
